<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">Automatic Irrigation system</h1>
      <p>An automated irrigation system refers to the operation of the system
        with no or just a minimum of manual intervention beside the surveillance.
        Almost every system (drip, sprinkler, surface) can be automated with help of timers,
        sensors or computers or mechanical appliances.
        It makes the irrigation process more efficient and workers can concentrate
        on other important farming tasks. On the other hand, such a system
        can be expensive and very complex in its design and may needs experts to
        plan and implement it.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div style="margin: 50px;">
        <!--element which is going to render the Card-->
        <div tabindex="0" class="e-card" id="basic">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">Automatic Surge Flow and Gravitational Tank Irrigation System</div>
            </div>
          </div>
          <div class="e-card-content">
            This is an intermittent gravity-flow irrigation system.
            It has been used almost exclusively for small-scale agriculture and domestic gardening.
            Prior to the development of this technology,
            electronically controlled valves were used to produce intermittent water flows for irrigation.
            These valves are expensive and require some technical training to operate.
            The siphon replaces these valves with a device that would be more cost-effective and easier to operate
            and maintain with a minimum consumption of energy. The system consists of a storage
            tank equipped with one or more siphons (see figure below) (UNEP 1998). The water in the tank
            flows to the field because of the siphon effect. As soon as the tank is empty, the flow stops.
            For the next irrigation process, the tank has to be filled-up
            to restart the siphon effect again. To learn more about possible siphon designs see VORTECH (2009).
          </div>

          <div>
            <img src="https://sswm.info/sites/default/files/inline-images/UNEP%201998.%20Schematic%20representation%20of%20an%20automatic%20surge%20flow%20irrigation%20system.jpg">
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
